<div class="app-navbar-item" [ngClass]="itemClass">
    <!--    <app-application-selector></app-application-selector>-->
    <app-website-selector></app-website-selector>
</div>

<!--begin::Theme mode-->
<!--<div class="app-navbar-item" [ngClass]="itemClass">-->
<!--  <app-theme-mode-switcher [toggleBtnClass]="btnClass" toggleBtnClass="{`btn-active-light-primary btn-custom ${toolbarButtonHeightClass}`}"></app-theme-mode-switcher>-->
<!--</div>-->
<!--end::Theme mode-->

<!--begin::User menu-->
<div class="app-navbar-item" [ngClass]="itemClass">
    <!--begin::Menu wrapper-->
    <div class="cursor-pointer symbol position-relative symbol-fixed" [ngClass]="userAvatarClass"
         data-kt-menu-trigger="{default: 'click'}"
         data-kt-menu-attach="parent" data-kt-menu-placement="bottom-end">
        @if (user$ | async; as user) {
            @if (user.avatarUrl) {
                <img alt="Logo" [src]="user.avatarUrl" />
            } @else if(user.displayName){
                <div class="symbol-label fs-2 fw-semibold text-success"> {{ user.displayName[0]| uppercase }}</div>
            }
            @if (connect$| async; as connect) {
                @if (connect.key === ConnectionStringEnum.OnConnected || connect.key === ConnectionStringEnum.OnLoginSuccess || connect.key === ConnectionStringEnum.OnReconnected) {
                    <div
                        class="position-absolute translate-middle bottom-0 start-100 mb-6 bg-success rounded-circle border border-3 border-body h-15px w-15px"></div>
                }
            }
        }
    </div>
    <app-user-inner data-kt-menu='true'></app-user-inner>
    <!--end::Menu wrapper-->
</div>
<!--end::User menu-->

<!--begin::Header menu toggle-->
<ng-container *ngIf="appHeaderDefaulMenuDisplay">
    <!--    <div class="app-navbar-item d-lg-none ms-2 me-n3" title="Show header menu">-->
    <!--        <div class="btn btn-icon btn-active-color-primary w-35px h-35px" id="kt_app_header_menu_toggle">-->
    <!--            <app-keenicon name="element-4" class="fs-1" [ngClass]="btnIconClass"></app-keenicon>-->
    <!--        </div>-->
    <!--    </div>-->
</ng-container>
<!--end::Header menu toggle-->
