<ng-container *ngIf="isShow">
    <button
        [disabled]="isLoading || disabled" type="button"
        [title]="text" (click)="onClick($event)"
        [ngClass]="{'btn-icon' : buttonIcon}"
        [class]=" 'btn btn-shadow btn-sm me-3 btn-secondary'">
        <span *ngIf="isLoading" class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true"></span>
        <app-news-keenicon *ngIf="keenIcon && !isLoading" [name]="keenIcon" [class]="keenIconClass"
                      [type]="keenIconType"></app-news-keenicon>
        {{text || 'Cancel'| translate}}
    </button>
</ng-container>
