<div class="cursor-pointer symbol" [ngClass]="userAvatarClass" data-kt-menu-trigger="{default: 'click'}"
     data-kt-menu-attach="parent" data-kt-menu-placement="bottom-end">
    <div class="btn btn-icon btn-clean btn-dropdown btn-lg mr-1 w-auto px-5">
        <i class="fas fa-globe mx-1 text-primary"></i>
    </div>

    <app-application-selector-list data-kt-menu='true'
                                   [websiteModels]="[]"
                                   (changeFunc)="onSelect($event)">
    </app-application-selector-list>
</div>
