/* You can add global styles to this file, and also import other style files */
@import '../../hubgroup-share-system-fe/sass/style.scss';
// Replace above style with this css file to enable RTL styles
// @import "../../hubgroup-share-system-fe/css/style.rtl";
@import '../../hubgroup-share-system-fe/sass/plugins.scss';
// @import "../../hubgroup-share-system-fe/css/style.rtl.css";
@import '../../hubgroup-share-system-fe/sass/style.angular.scss';

// Keenicons - High quality and pixel perfect font icons available in 3 styles, duotone, outline and solid for Metronic elements
@import '../../hubgroup-share-system-fe/plugins/keenicons/duotone/style.css';
@import '../../hubgroup-share-system-fe/plugins/keenicons/outline/style.css';
@import '../../hubgroup-share-system-fe/plugins/keenicons/solid/style.css';
