.react-app-wrapper {
    &.loading-module {
        background: #f9f9f9;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 200px;
        height: 100%;
    }
}
